.container{
  display: flex;
  justify-content: center;
  width: 87%;
  background: white;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 770px){
  .container{
      width: 100%;
  }
}